.pc/
out/
.idea/
*.iml
*.cmd
*.o
*.ko
*.dtbo
*.dtb
*.part
*.symvers
**/.*
!.gitignore
!.gitattributes
!.gitmodules
**/*.mod
**/*.mod.c
**/modules.order
**/_out/
**/*.S
**/*.signed
nvdisplay/kernel-open/conftest/**
